---
layout: default
---

{% if page.tag_filter %}
{% assign page_title = page.tag_filter %}
{% else %}
{% assign page_title = page.title %}
{% endif %}

{% assign pcat = page.categories %}

<!-- {% assign myurl = "" | append: page.dir | append: "sidebar/" %} -->
 
 {% assign myurl = "/" | append: pcat| append: "/"  %}
 



<div class="sidenav">
  <section>
    <div class="page_title">
      <h1>{% include fn_translate string=page_title %}</h1>
    </div>
  </section>

  <section>
    <div class="navigation">
      <ul class="nav nav-pills nav-stacked">
        <!-- {% include nav_link url="/topics/covid19/" id="home" %} -->
        {% include nav_link url="/" id="home" %}
        {% assign site_tags = site.posts | where: "language", page.language | map: "tags" | uniq %} <!-- tried filtered_posts = do not work -->
        {% for tag in site_tags %} 
          {% assign tag_url = myurl | append: tag | append: ".html" %}
          {% if tag_url %} 
          {% include nav_link url=tag_url id=tag %}
          {% endif %}  
        {% endfor %}

        <!-- {% include nav_link url="/visualisations" id="apps" %} -->
      </ul>
    </div>
    <div class="nav-content">
      {{ content }}
    </div>
  </section>
</div>
