---
layout: default
---

{% if page.category == "statistics" %}   
{% assign all_tags = "c++,stattests" | split: ',' %}
{% assign folder = "statistics" %}
{% endif %}


{% if page.category == "programming" %}   
{% assign all_tags = "c++,java,poo" | split: ',' %}
{% assign folder = "programming" %}
{% endif %}


{% if page.category == "machine_learning" %}   
{% assign all_tags = "c++,cnn,evaluation" | split: ',' %}
{% assign folder = "machine_learning" %}
{% endif %}


{% if page.tag_filter %}
{% assign page_title = page.tag_filter %}
{% else %}
{% assign page_title = page.title %}
{% endif %}

{% if page.category %}
{% assign myurl = "/topics/" | append: page.category | append: "/" %}
{% endif %}

<div class="sidenav">
  <section>
    <div class="page_title">
      {% if page.tag_filter %}
        <h1>{% include fn_translate string=page.category %} - {% include fn_translate string=page_title %}</h1>      
      {% else %}
        <h1>{% include fn_translate string=page_title %}</h1>
      {% endif %}
    </div>
  </section>

  <section>
    <div class="navigation">
      <ul class="nav nav-pills nav-stacked">
        {% include nav_link url="/" id="home" %}
        {% if page.category %}
          {% include nav_link url=myurl id=page.category %}
        {% endif %}
        {% assign site_tags = site.posts | where: "language", page.language | map: "tags" | uniq %} 
        {% for tag in site_tags %} 
          {% if all_tags contains tag %}   
            {% assign tag_url = "/topics/" | append: folder | append: "/sidebar/" | append: tag | append: ".html" %}
            {% include nav_link url=tag_url id=tag %}
          {% endif %}            
        {% endfor %}

        <!-- {% include nav_link url="/visualisations" id="apps" %} -->
      </ul>
    </div>
    <div class="nav-content">
      {{ content }}
    </div>
  </section>
</div>
