---
layout: side_navigation
---

{% if page.category %}  
  {% assign filtered_posts  = site.posts | where: "category", page.category %}
{% else %}
  {% assign filtered_posts = site.posts %}
{% endif %}

{% if page.tag_filter %}
  {% assign filtered_posts = site.posts | where_exp: "item", "item.category == 'programming' and item.tags contains 'c++' " %}
{% endif %}

{% assign posts = filtered_posts | where: "language", page.language %}
{% if posts.size > 0 %}
{% assign posts = posts | sort: 'update' | reverse %}
{% endif %}

<div class="blog list">
  {{content}}

  {% if posts.size > 0 %}
  {% include post_list.html posts=posts %}
  {% else %}
  <p>{% include fn_translate id="no-posts" %}.</p>
  {% endif %}
</div>
