---
layout: side_navigation
---

{% assign fooname = "foo" %}

{% assign foo_filters = ['c++'] %}
{% assign filtered_posts = "" | split: "" %}
{% for myfilter in foo_filters %}
  {% unless filtered_posts contains myfilter %}
    {% assign filtered_posts = filtered_posts | push: site.tags[myfilter] %}
  {% endunless %}
{% endfor %}


{% assign posts = filtered_posts | where: "language", page.language %}
{% if posts.size > 0 %}
{% assign posts = posts | sort: 'update' | reverse %}
{% endif %}

<div class="blog list">


 {{ site.tags['c++'] }}


  {{content}}

  {% if posts.size > 0 %}
  {% include post_list.html posts=posts %}
  {% else %}
  <p>{% include fn_translate id="no-posts" %}.</p>
  {% endif %}
</div>
